<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<style>
      .rotate90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>
<body>

<!-- Navbar (sit on top) -->
<div id="myDiv" class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card myDiv2" style="letter-spacing:4px;">
        <a id="homePage"  href="index" class="w3-bar-item w3-button">Main Page</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="login" class="w3-bar-item w3-button">Login</a>
            <a href="signup" class="w3-bar-item w3-button">Sign Up</a>
            <a href="index" class="w3-bar-item w3-button">Search</a>
            <a href="geolocation" class="w3-bar-item w3-button">Map</a>
            <a href="about" class="w3-bar-item w3-button">About Us</a>
        </div>
    </div>
</div>

<!-- About Section -->

<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">About Us</h1><br>
        <h5 class="w3-center">We are coding to future</h5>
        <p class="w3-large w3-text-grey w3-hide-medium"> Yunus Emre Cogurcu</p>
        <p class="w3-large w3-text-grey w3-hide-medium"> Zeyad</p>
        <p class="w3-large w3-text-grey w3-hide-medium"> Jerry</p>
    </div>

    <div class="w3-center">
        <br><br><br><br>
        <img src="Images/y.jpg" class="w3-image rotate90" width="280" height="400">
        <img src="Images/z.jpg" class="w3-image rotate90" width="280" height="400">
        <img src="Images/j.jpg" class="w3-image rotate90" width="280" height="400">
    </div>
</div>

</body>
</html>
