<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/index.js"></script>

  </head>
  <body>
  <form action="/upload" method="post" enctype="multipart/form-data">
    Select file to upload:
    <input type="file" name="avatar" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
  </form>





    <!--<form id=“xForm" onsubmit="onSubmit('/index')">-->

        <!--<input type="text" name="rest" id="rest" >-->

        <!--<p><input type="submit" name="g" value="Submit" id="g"></p>-->
    <!--</form>-->

    <!--<div id="ProductList" class="w3-container" style="margin-top:30px"></div>-->
  </body>
</html>
