<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset=utf-8 />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form id=“xForm" onsubmit="onSubmit('/insert')">
        <label for='restaurant'>Restaurant:</label>
        <input type="text" name="rest" id="rest" value="Mickey">
        <p><label for='cusinetype'>Cusine Type:</label>
                <input type="text" name="cusine" id="cusine" value="Mouse">
        </p>
        <p><label for='ranking'>Ranking:</label>
                <input type="text" name="rank" id="rank" value="1900">
        </p>
        <p><label for='feedback'>Feedback:</label>
            <input type="text" name="feed" id="feed" value="1900">
        </p>
        <p><label for='postcode'>Post Code:</label>
            <input type="text" name="postc" id="postc" value="1900">
        </p>
        <p><input type="submit" name="g" value="Submit" id="g"></p>
    </form>

    <form action="/upload" method="post" enctype="multipart/form-data">
        Select file to upload:
        <input type="file" name="avatar" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit" id="submitImage">
    </form>
  <div id="results" style="margin-top:30px"></div>

   <img src="http://localhost:3003\avatar\9b59c6be-10c2-4af2-9de0-b175b48b37ba.png">

  <script>
    var sub=document.getElementById("g"),
        hidefile=document.getElementById("fileToUpload"),
        hidesubmit=document.getElementById("submitImage");
            sub.onclick=function(){
              this.form.submit;
              hidefile.style.display="inline";
              hidesubmit.style.display="inline";
            }
  </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>

