<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/signup.js"></script>
</head>
<body>
<form id="form" >
    <input type="text" id="user" name="username" placeholder="Username" required>
    <input type="password" id="psw" name="password" placeholder="Password" required>
    <input type="submit" value="Login" id="btn">
</form>

<script src="/socket.io/socket.io.js"></script>

<script>


    btn.onclick=sendUserInfo;

</script>

</body>
</html>